* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
#mainDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}
/* card css starts */
.card {
  max-width: 22%;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 5px;
  margin: 10px;
  padding: 15px 15px 65px 15px;
  position: relative;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 50%);
}

.main-image {
  width: 100%;
  height: 15rem;
  margin-top: 15px;
  border-radius: 5px;
}

.profile-img {
  border-radius: 50%;
  height: 4rem;
}

.image-Name-Logo {
  display: flex;
  justify-content: space-between;
}

.text-name-date {
  flex: 2;
  margin-top: 10px;
  margin-left: 10px;
}

.text-caption {
  padding-top: 10px;
}

.logo-img {
  margin-top: 11px;
}

.text-likes {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  display: flex;
}

.text-likes img {
  margin-right: 3px;
}

hr {
  position: absolute;
  bottom: 0;
  width: 90%;
  margin-bottom: 45px;
}

.text-caption p {
  font-size: 16px;
}

#btn-div {
  width: 100%;
  text-align: center;
}

/* card css ends */

/* modal css starts */
#modal {
  display: block;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 100%;
  z-index: 9999;
}
.modalContainer {
  display: flex;
  background-color: white;
  width: 50%;
  height: 24rem;
  padding: 1%;
}

.modal-left-side img {
  width: 25rem;
  height: 97%;
}

.modal-left-side {
  width: 100%;
}

.modal-right-side {
  padding-left: 2%;
  width: 100%;
}

.right-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-profile-img img {
  width: 90%;
  border-radius: 50px;
  height: 6em;
}

.modal-profile-img {
  flex: 1;
}

.modal-name-date {
  width: 30%;
  flex: 2;
}

.modal-text-caption {
  padding-top: 5%;
}

.social-media-img {
  flex: 1;
  text-align: end;
}

.modal-likes {
  display: flex;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
}

/* modal css ends */

.container {
  background-color: darkgray;
}

#loadMore {
  width: 15%;
  height: 50px;
  font-size: 14px;
  background-color: rgb(26, 26, 238);
  color: wheat;
  border-radius: 5px;
  border: unset;
  text-transform: uppercase;
  cursor: pointer;
}

.closeBtn {
  position: absolute;
  border-radius: -16px;
  font-size: 20px;
  width: 2%;
  border-radius: 15px;
  cursor: pointer;
  right: 51%;
  bottom: 5%;
}

.blurry:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  content: "";
  pointer-events: none;
  z-index: 100;
  opacity: 0.5;
}

button {
  border: none;
  outline: none;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  padding: 3%;
}

@media only screen and (max-width: 992px) {
  .card {
    max-width: 47%;
    height: 35rem;
  }

  .text-caption p {
    font-size: 14px;
  }

  #modal {
    left: 17%;
  }

  .modalContainer {
    width: 68%;
  }

  .modal-profile-img img {
    height: 5em;
  }

  .modal-name-date {
    font-size: 14px;
  }
  .modal-left-side img {
    width: 19rem;
  }

  .closeBtn {
    right: 33%;
    bottom: 4%;
    width: 3%;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    max-width: 75%;
    height: 35rem;
  }

  #modal .text-name-date {
    flex: 2;
    margin-left: 7px;
    font-size: 12px;
    margin-top: 11px;
  }
  #modal .logo-img {
    margin-top: 11px;
  }

  .modal-left-side img {
    width: 15rem;
    height: 97%;
  }

  .closeBtn {
    padding: 1px;
  }
}
